# local package
-e .

# external requirements
click==7.1.2
coverage==5.5
setuptools==56.2.0
python-dotenv>=0.5.1
pytest==6.2.3
pandas==1.2.4
scikit-learn==0.24.1
dataclasses==0.8
pyyaml==5.3
marshmallow-dataclass==8.3.0
numpy==1.20.2


